@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-gray-200;
}

.text-gradient {
  background: linear-gradient(93.52deg, #f1b02b 8.71%, #b7bd00 98.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
